<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <style>
        body {
            font-size: 2rem;
        }

        body.page-state-invalid {
            background-color: #f8d9d6;
        }

        body.page-state-active {
            background-color: #dff2df;
        }

        body.page-state-future {
            background-color: #dcecff;
        }

        body.page-state-past {
            background-color: #e7e7e7;
        }

        hr {
            border: double;
        }
    </style>
</head>
<body class="page-state-{{ page_state or 'invalid' }}">
    <h2>Door Opener</h2>
    <hr/>
    <p><strong>{{ title }}</strong></p>
    <p>{{ detail }}</p>
    <hr/>
</body>
</html>