<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>open door</title>
    <style>
        body {
            background-color: #dff2df;
            font-size: 1.6rem;
        }

        .large-button {
            padding: 0.6rem 3.5rem;
            font-size: 1.6em;
            border-radius: 0.625rem;
            border: 0.125rem solid black;
        }

        hr {
            border: double;
        }
    </style>
</head>
<body>
    <h2>Door Opener</h2>
    <hr/>
    {% if record['welcome_text'] %}
    <p>{{ record['welcome_text'] }}</p>
    <hr/>
    {% endif %}
    <p>Front door onto pavement. Press button to open.</p>
    <form action="" method="post">
        <button class="large-button" name="open_door" value="brana">FRONT DOOR</button>
    </form>
    <hr/>
    <p>Balcony door. Press the button. Pull door slightly then push to open.</p>
    <form action="" method="post">
        <button class="large-button" name="open_door" value="pavlac">BALCONY ACCESS</button>
    </form>
    <hr/>
    {% if action_message %}
    <p><strong>{{ action_message }}</strong></p>
    <hr/>
    {% endif %}
    <p>Active from: {{ record['start_at']|datetime_display }}</p>
    <p>Active until: {{ record['end_at']|datetime_display }}</p>
    <hr/>
</body>
</html>